@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --box-size: 5rem;
  --border-size: 2rem;
  font-family: 'Lato', sans-serif;
}

.App div button {
  width: var(--box-size);
  height: var(--box-size);
}

.container {
  display: grid;
  justify-content: center;
  margin: 1rem auto;

  border: 1px rgb(89, 89, 89) solid;

  border-radius: 1rem;

  width: 24rem;
  grid-template-columns: repeat(4, 5rem);
  column-gap: 0.2rem;
  row-gap: 0.3rem;

  padding: var(--border-size) 0;
}

.container .screen {
  display: flex;
  grid-column: 1 / -1;
  justify-content: space-between;
  align-items: center;

  word-wrap: break-word;
  word-break: break-all;

  height: 5rem;
  width: 20rem;
  margin: 0 auto 0.75rem;
  padding: 1rem;

  border: 1px rgba(89, 89, 89, 0.3) solid;
  border-radius: 1rem;
  box-shadow: 2px 2px rgba(64, 64, 64, 0.16);

  font-size: 2rem;
}

button {
  background-color: #afeeee;
  border: 0.12rem #1111 solid;
  border-radius: 2rem;
  box-shadow: 2px rgba(64, 60, 67, 0.16);

  color: rgba(0, 0, 0, 0.75);
  font-size: 1.5rem;
}

button:hover {
  background-color: #e0ffff;
}

button:active {
  background-color: #5f9ea0;
}
